:root {
  --cell-font-color: #000;
  --cell-selection-border-color: #5566fd;
  --header-border-color: #c2c2c2;
  --header-font-color: #333;
}

.ob-table-header, .ob-table-cell, .ob-table {
  border: 1px solid var(--header-border-color);
}
.ob-table-header, .ob-table-cell {
  height: 22px;
  margin: 0;
  max-height: 22px;
  /* max-width: 100px; */
  padding: 0 5px;
  user-select: none;
  width: 48px;
  min-width: 48px;
}
.ob-table-header {
  background-color: #e7e7e7;
  color: var(--header-font-color);
}
.ob-table-selection-header {
  background-color: #d0d0d0;
  color: var(--header-font-color);
}
.ob-table {
  border-collapse: collapse;
}
.ob-table-cell {
  overflow-x: clip;
  color: var(--cell-font-color);
  box-sizing: border-box;
}
.ob-table-cell-focused {
  border: 3px solid var(--cell-selection-border-color);
}
.ob-table-cell-selected {
  background-color: #e4eeff;
}
.ob-table-selection-top {
  border-top: 3px solid var(--cell-selection-border-color);
}
.ob-table-selection-bottom {
  border-bottom: 3px solid var(--cell-selection-border-color);
}
.ob-table-selection-right {
  border-right: 3px solid var(--cell-selection-border-color);
}
.ob-table-selection-left {
  border-left: 3px solid var(--cell-selection-border-color);
}
.ob-table-header {
  font-weight: bold;
}
